In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')

In [3]:
train.head()

,index,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,...,engnat,age,hand,religion,orientation,voted,married,familysize,ASD,nerdiness
0,0,1.0,5.0,5.0,5.0,1.0,4.0,5.0,5.0,1.0,...,1.0,20,2.0,12.0,4.0,2.0,1.0,4.0,2.0,1
1,1,4.0,4.0,4.0,4.0,4.0,5.0,4.0,4.0,3.0,...,1.0,49,1.0,2.0,1.0,1.0,2.0,4.0,2.0,1
2,2,4.0,5.0,5.0,4.0,3.0,5.0,5.0,5.0,4.0,...,2.0,43,1.0,2.0,2.0,2.0,3.0,4.0,2.0,1
3,3,4.0,4.0,4.0,2.0,4.0,3.0,3.0,5.0,3.0,...,1.0,17,2.0,1.0,1.0,2.0,1.0,2.0,2.0,1
4,4,4.0,4.0,4.0,4.0,3.0,3.0,4.0,2.0,3.0,...,2.0,18,2.0,12.0,1.0,2.0,1.0,1.0,2.0,0

In [4]:
train = train.fillna(train.mean())
train

,index,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,...,engnat,age,hand,religion,orientation,voted,married,familysize,ASD,nerdiness
0,0,1.0,5.0,5.0,5.0,1.0,4.0,5.0,5.0,1.0,...,1.0,20,2.0,12.0,4.0,2.0,1.0,4.0,2.0,1
1,1,4.0,4.0,4.0,4.0,4.0,5.0,4.0,4.0,3.0,...,1.0,49,1.0,2.0,1.0,1.0,2.0,4.0,2.0,1
2,2,4.0,5.0,5.0,4.0,3.0,5.0,5.0,5.0,4.0,...,2.0,43,1.0,2.0,2.0,2.0,3.0,4.0,2.0,1
3,3,4.0,4.0,4.0,2.0,4.0,3.0,3.0,5.0,3.0,...,1.0,17,2.0,1.0,1.0,2.0,1.0,2.0,2.0,1
4,4,4.0,4.0,4.0,4.0,3.0,3.0,4.0,2.0,3.0,...,2.0,18,2.0,12.0,1.0,2.0,1.0,1.0,2.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14995,14995,2.0,5.0,4.0,3.0,3.0,4.0,4.0,4.0,3.0,...,1.0,17,1.0,1.0,3.0,2.0,1.0,3.0,2.0,0
14996,14996,5.0,4.0,5.0,4.0,4.0,5.0,5.0,4.0,4.0,...,2.0,45,1.0,3.0,1.0,1.0,2.0,3.0,2.0,1
14997,14997,4.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,4.0,...,1.0,20,1.0,1.0,2.0,1.0,1.0,3.0,1.0,1
14998,14998,5.0,5.0,4.0,5.0,5.0,5.0,5.0,1.0,5.0,...,1.0,29,1.0,12.0,4.0,2.0,2.0,2.0,1.0,0
14999,14999,5.0,4.0,2.0,5.0,2.0,2.0,4.0,2.0,4.0,...,2.0,21,1.0,2.0,2.0,2.0,1.0,1.0,2.0,1

In [5]:
test = test.fillna(test.mean())
test

,index,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,...,gender,engnat,age,hand,religion,orientation,voted,married,familysize,ASD
0,0,4.0,4.0,3.0,5.0,5.0,5.0,3.0,5.0,4.0,...,2.0,2.0,19,1.0,4.00000,4.0,1.0,1.0,3.000000,2.0
1,1,4.0,5.0,4.0,4.0,5.0,4.0,5.0,5.0,5.0,...,1.0,1.0,33,1.0,1.00000,5.0,2.0,1.0,5.000000,2.0
2,2,5.0,5.0,5.0,5.0,4.0,5.0,5.0,5.0,5.0,...,2.0,2.0,13,1.0,4.00000,5.0,2.0,1.0,3.000000,2.0
3,3,5.0,4.0,3.0,4.0,5.0,4.0,5.0,4.0,4.0,...,1.0,1.0,28,1.0,2.00000,2.0,2.0,1.0,3.000000,2.0
4,4,5.0,5.0,5.0,5.0,5.0,3.0,5.0,5.0,5.0,...,2.0,2.0,15,1.0,4.00000,5.0,2.0,1.0,2.000000,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35447,35447,4.0,5.0,5.0,3.0,3.0,4.0,5.0,5.0,4.0,...,2.0,2.0,16,3.0,10.00000,4.0,2.0,1.0,3.000000,2.0
35448,35448,5.0,5.0,5.0,5.0,5.0,4.0,5.0,3.0,5.0,...,3.0,1.0,16,3.0,2.00000,5.0,2.0,1.0,2.000000,2.0
35449,35449,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,...,1.0,1.0,31,1.0,1.00000,5.0,1.0,1.0,2.000000,2.0
35450,35450,5.0,5.0,4.0,5.0,5.0,1.0,5.0,1.0,5.0,...,1.0,1.0,19,1.0,12.00000,1.0,2.0,1.0,2301.835621,2.0
35451,35451,5.0,5.0,4.0,5.0,2.0,4.0,3.0,5.0,4.0,...,2.0,1.0,14,2.0,4.12391,2.0,2.0,1.0,1.000000,2.0

In [6]:
train["nerdiness"].isnull().value_counts()

False    15000
Name: nerdiness, dtype: int64

In [7]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 70 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   index         15000 non-null  int64
 1   Q1            15000 non-null  float64
 2   Q2            15000 non-null  float64
 3   Q3            15000 non-null  float64
 4   Q4            15000 non-null  float64
 5   Q5            15000 non-null  float64
 6   Q6            15000 non-null  float64
 7   Q7            15000 non-null  float64
 8   Q8            15000 non-null  float64
 9   Q9            15000 non-null  float64
 10  Q10           15000 non-null  float64
 11  Q11           15000 non-null  float64
 12  Q12           15000 non-null  float64
 13  Q13           15000 non-null  float64
 14  Q14           15000 non-null  float64
 15  Q15           15000 non-null  float64
 16  Q16           15000 non-null  float64
 17  Q17           15000 non-null  float64
 18  Q18           15000 non-null  float64
 19  Q19           15000 non-null  float64
 20  Q20           15000 non-null  float64
 21  Q21           15000 non-null  float64
 22  Q22           15000 non-null  float64
 23  Q23           15000 non-null  float64
 24  Q24           15000 non-null  float64
 25  Q25           15000 non-null  float64
 26  Q26           15000 non-null  float64
 27  country       14810 non-null  object
 28  introelapse   15000 non-null  int64
 29  testelapse    15000 non-null  int64
 30  surveyelapse  15000 non-null  int64
 31  TIPI1         15000 non-null  float64
 32  TIPI2         15000 non-null  float64
 33  TIPI3         15000 non-null  float64
 34  TIPI4         15000 non-null  float64
 35  TIPI5         15000 non-null  float64
 36  TIPI6         15000 non-null  float64
 37  TIPI7         15000 non-null  float64
 38  TIPI8         15000 non-null  float64
 39  TIPI9         15000 non-null  float64
 40  TIPI10        15000 non-null  float64
 41  VCL1          15000 non-null  int64
 42  VCL2          15000 non-null  int64
 43  VCL3          15000 non-null  int64
 44  VCL4          15000 non-null  int64
 45  VCL5          15000 non-null  int64
 46  VCL6          15000 non-null  int64
 47  VCL7          15000 non-null  int64
 48  VCL8          15000 non-null  int64
 49  VCL9          15000 non-null  int64
 50  VCL10         15000 non-null  int64
 51  VCL11         15000 non-null  int64
 52  VCL12         15000 non-null  int64
 53  VCL13         15000 non-null  int64
 54  VCL14         15000 non-null  int64
 55  VCL15         15000 non-null  int64
 56  VCL16         15000 non-null  int64
 57  education     15000 non-null  float64
 58  urban         15000 non-null  int64
 59  gender        15000 non-null  float64
 60  engnat        15000 non-null  float64
 61  age           15000 non-null  int64
 62  hand          15000 non-null  float64
 63  religion      15000 non-null  float64
 64  orientation   15000 non-null  float64
 65  voted         15000 non-null  float64
 66  married       15000 non-null  float64
 67  familysize    15000 non-null  float64
 68  ASD           15000 non-null  float64
 69  nerdiness     15000 non-null  int64
dtypes: float64(46), int64(23), object(1)
memory usage: 8.0+ MB

In [8]:
train['nerdiness'].value_counts()

1    8303
0    6697
Name: nerdiness, dtype: int64

In [23]:
# train = train.dropna()

In [9]:
train = train.drop(['index', 'country'],axis = 1)
test = test.drop(['index', 'country'],axis = 1)

In [10]:
from pycaret.classification import *

In [11]:
pycaret_clf = setup(data = train, target = 'nerdiness')

In [12]:
best_3 = compare_models(sort='AUC',n_select=3)

In [13]:
best_3

[ExtraTreesClassifier(bootstrap=False, ccp_alpha=0.0, class_weight=None,
                      criterion='gini', max_depth=None, max_features='auto',
                      max_leaf_nodes=None, max_samples=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=-1,
                      oob_score=False, random_state=2017, verbose=0,
                      warm_start=False),
 RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                        criterion='gini', max_depth=None, max_features='auto',
                        max_leaf_nodes=None, max_samples=None,
                        min_impurity_decrease=0.0, min_impurity_split=None,
                        min_samples_leaf=1, min_samples_split=2,
                        min_weight_fraction_leaf=0.0, n_estimators=100,
                        n_jobs=-1, oob_score=False, random_state=2017, verbose=0,
                        warm_start=False),
 LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
                importance_type='split', learning_rate=0.1, max_depth=-1,
                min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
                n_estimators=100, n_jobs=-1, num_leaves=31, objective=None,
                random_state=2017, reg_alpha=0.0, reg_lambda=0.0, silent=True,
                subsample=1.0, subsample_for_bin=200000, subsample_freq=0)]

In [ ]:
# tuned_best3 = [tune_model(i) for i in best_3]

In [ ]:
# tuned_best3

In [14]:
blender_top3 = blend_models(estimator_list=best_3,fold=5,method='soft')
blender_top3

VotingClassifier(estimators=[('et',
                              ExtraTreesClassifier(bootstrap=False,
                                                   ccp_alpha=0.0,
                                                   class_weight=None,
                                                   criterion='gini',
                                                   max_depth=None,
                                                   max_features='auto',
                                                   max_leaf_nodes=None,
                                                   max_samples=None,
                                                   min_impurity_decrease=0.0,
                                                   min_impurity_split=None,
                                                   min_samples_leaf=1,
                                                   min_samples_split=2,
                                                   min_weight_fraction_leaf=0.0,
                                                   n_estimators=100, n_jobs=-1,
                                                   oob_score=Fa...
                                             importance_type='split',
                                             learning_rate=0.1, max_depth=-1,
                                             min_child_samples=20,
                                             min_child_weight=0.001,
                                             min_split_gain=0.0,
                                             n_estimators=100, n_jobs=-1,
                                             num_leaves=31, objective=None,
                                             random_state=2017, reg_alpha=0.0,
                                             reg_lambda=0.0, silent=True,
                                             subsample=1.0,
                                             subsample_for_bin=200000,
                                             subsample_freq=0))],
                 flatten_transform=True, n_jobs=-1, verbose=False,
                 voting='soft', weights=None)

# View AUC

In [15]:
pred_holdout = predict_model(blender_top3)

In [ ]:
# pred_holdout = predict_model(best_1)

finalize_model을 이용하여 모델 최종화

In [16]:
final_model=finalize_model(blender_top3)

final_model에 test 데이터셋을 적용하여 학습

In [17]:
predictions = predict_model(final_model,data=test)

Label이 예측된 nerdiness 속성

In [18]:
predictions

,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,...,age,hand,religion,orientation,voted,married,familysize,ASD,Label,Score
0,4.0,4.0,3.0,5.0,5.0,5.0,3.0,5.0,4.0,5.0,...,19,1.0,4.00000,4.0,1.0,1.0,3.000000,2.0,0,0.7427
1,4.0,5.0,4.0,4.0,5.0,4.0,5.0,5.0,5.0,4.0,...,33,1.0,1.00000,5.0,2.0,1.0,5.000000,2.0,1,0.8238
2,5.0,5.0,5.0,5.0,4.0,5.0,5.0,5.0,5.0,4.0,...,13,1.0,4.00000,5.0,2.0,1.0,3.000000,2.0,1,0.8553
3,5.0,4.0,3.0,4.0,5.0,4.0,5.0,4.0,4.0,5.0,...,28,1.0,2.00000,2.0,2.0,1.0,3.000000,2.0,1,0.5859
4,5.0,5.0,5.0,5.0,5.0,3.0,5.0,5.0,5.0,5.0,...,15,1.0,4.00000,5.0,2.0,1.0,2.000000,2.0,1,0.8505
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35447,4.0,5.0,5.0,3.0,3.0,4.0,5.0,5.0,4.0,3.0,...,16,3.0,10.00000,4.0,2.0,1.0,3.000000,2.0,1,0.8974
35448,5.0,5.0,5.0,5.0,5.0,4.0,5.0,3.0,5.0,3.0,...,16,3.0,2.00000,5.0,2.0,1.0,2.000000,2.0,1,0.7015
35449,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,...,31,1.0,1.00000,5.0,1.0,1.0,2.000000,2.0,1,0.9305
35450,5.0,5.0,4.0,5.0,5.0,1.0,5.0,1.0,5.0,5.0,...,19,1.0,12.00000,1.0,2.0,1.0,2301.835621,2.0,0,0.7591
35451,5.0,5.0,4.0,5.0,2.0,4.0,3.0,5.0,4.0,5.0,...,14,2.0,4.12391,2.0,2.0,1.0,1.000000,2.0,1,0.7003

# 제출 파일 생성

In [19]:
submission = pd.read_csv('data/sample_submission.csv')

submission

       index  nerdiness
0          0         -1
1          1         -1
2          2         -1
3          3         -1
4          4         -1
...      ...        ...
35447  35447         -1
35448  35448         -1
35449  35449         -1
35450  35450         -1
35451  35451         -1

[35452 rows x 2 columns]

In [20]:
submission['nerdiness']=predictions['Label']
submission

       index  nerdiness
0          0          0
1          1          1
2          2          1
3          3          1
4          4          1
...      ...        ...
35447  35447          1
35448  35448          1
35449  35449          1
35450  35450          0
35451  35451          1

[35452 rows x 2 columns]

In [21]:
submission.to_csv('submission.csv',index=False)